<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Management</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" />
    </noscript>
    <!-- Remove Bootstrap Icons CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.19.0/font/bootstrap-icons.css" /> -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <!-- Bootstrap 5 CSS -->
    <link th:href="@{../vendor/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Customize CSS -->
    <link href="css/main.css" th:href="@{css/main.css}" rel="stylesheet" />
    <!-- Customize CSS -->
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/profile-menu.css}" rel="stylesheet" />
    <link th:href="@{css/user-profile.css}" rel="stylesheet" />

    <!-- Include Font Awesome -->
    <script
            src="https://kit.fontawesome.com/b16b259998.js"
            crossorigin="anonymous"
    ></script>

    <!-- Include your main.js at the end -->
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
<header th:insert="~{index.html :: header-navbar}" class="bg-light"></header>
<div class="justify-content-center" style="display: flex; padding-top: 20px">
    <h2> USER LIST</h2>
</div>
<div class="row d-flex justify-content-center">
    <div class="col col-lg-10 mb-4 mb-lg-0">
        <div class="row g-0">
            <form th:action="@{/list}" method="get">
                <div class="input-group mb-3">
                    <label>
                        <input type="text" class="form-control" placeholder="Search by Email or Name" name="email" th:value="${search}"  />
                    </label>
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Role</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.fullName}"></td>
                    <td th:text="${user.email}"></td>
                    <td><button th:text="${user.isEnable}? 'Active' : 'Inactive'"
                                th:class="${user.isEnable} ? 'btn btn-success btn-sm' : 'btn btn-danger btn-sm'">
                    </button></td>
                    <td>
                        <a th:href="@{/update(id=${user.id})}" title="Edit">
                            <i class="fa fa-edit edit-icon" style="color: #f6bb42"></i>
                        </a>
                        <!--                  <a th:href="@{/delete/{userId}(userId=${user.id})}" title="Delete">-->
                        <!--                    <i class="fa fa-trash delete-icon"></i>-->
                        <!--                  </a>-->
                        <a href="#" th:onclick="'confirmDelete(' + ${user.id} + ')'" title="Delete">
                            <i class="fa fa-trash delete-icon" style="color: #f6bb42"></i>
                </tbody>
            </table>
            <div>
                <ul class="pagination">
                    <li class="page-item" th:class="${currentPage == 0} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{/list(page=0,email=${search})}">First</a>
                    </li>
                    <li class="page-item" th:class="${currentPage == 0} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{/list(page=${currentPage - 1},email=${search})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, totalPages -1)}" th:class="${pageNumber == currentPage} ? 'active' : ''">
                        <a class="page-link" th:href="@{/list(page=${pageNumber},email=${search})}" th:text="${pageNumber + 1}"></a>
                    </li>
                    <li class="page-item" th:class="${currentPage == totalPages - 1} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{/list(page=${currentPage + 1},email=${search})}">Next</a>
                    </li>
                    <li class="page-item" th:class="${currentPage == totalPages - 1} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{/list(page=${totalPages - 1},email=${search})}">Last</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function confirmDelete(userId) {
        var result = confirm('Are you sure you want to delete this user?');
        if (result) {
            window.location.href = '/delete/' + userId;
        }
    }
</script>
</body>
</html>
