<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Create</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" />
    </noscript>
    <!-- Remove Bootstrap Icons CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.19.0/font/bootstrap-icons.css" /> -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <!-- Bootstrap 5 CSS -->
    <link th:href="@{../vendor/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Customize CSS -->
    <link href="css/main.css" th:href="@{css/main.css}" rel="stylesheet" />
    <!-- Customize CSS -->
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/profile-menu.css}" rel="stylesheet" />
    <link th:href="@{css/user-profile.css}" rel="stylesheet" />

    <!-- Include Font Awesome -->
    <script
            src="https://kit.fontawesome.com/b16b259998.js"
            crossorigin="anonymous"
    ></script>

    <!-- Include your main.js at the end -->
    <script th:src="@{/js/main.js}"></script>
<body>
<header th:insert="~{index.html :: header-navbar}" class="bg-light"></header>
<div class="container-fluid col-md-4">
    <h2>CREATE USER</h2>
    <a th:href="@{/admin/list}">BACK TO USER LIST</a>
    <form th:action="@{/admin/create}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="email">Role</label>
            <input th:field="*{role}" type="text" class="form-control" id="role" placeholder="Enter Role" style="align-content: center; width: 450px ">
        </div>
        <div class="form-group">
            <label for="full_name">Full Name</label>
            <input th:field="*{fullName}" type="text" class="form-control" id="full_name" placeholder="Enter Full Name" style="align-content: center; width: 450px ">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input th:field="*{email}" type="email" class="form-control" id="email" placeholder="Enter Email" style="align-content: center; width: 450px ">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Enter Email" style="align-content: center; width: 450px ">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input th:field="*{phone}" type="text" class="form-control" id="phone" placeholder="Enter Phone Number" style="align-content: center; width: 450px ">
        </div>
        <div class="form-group">
            <label for="note">Note</label>
            <input th:field="*{note}" type="text" class="form-control" id="note" placeholder="Enter Note" style="align-content: center; width: 450px ">
        </div>
        <div class="form-group">
            <label for="isEnable">Is Enable:</label>
            <input type="checkbox" id="isEnable" name="isEnable" th:field="*{isEnable}"/><br/>
        </div>
        <div class="form-group">
            <label for="isVerified">Is Verified:</label>
            <input type="checkbox" id="isVerified" name="isVerified" th:field="*{isVerified}"/><br/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>