<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ezQuiz ClassList</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/images/favicon.ico"
      th:href="@{../../images/favicon.ico}"
    />
    <script
      src="../../js/bootstrap.min.js"
      th:src="@{../../js/bootstrap.min.js}"
    ></script>
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="crossorigin"
    />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      />
    </noscript>
    <link
      href="../../static/vendor/bootstrap/bootstrap.min.css"
      th:href="@{../../vendor/bootstrap/bootstrap.min.css}"
      rel="stylesheet"
    />
    <link
      href="../../static/css/main.css"
      th:href="@{../../css/main.css}"
      rel="stylesheet"
    />
    <link
      href="../../css/user-profile.css"
      th:href="@{../css/user-profile.css}"
      rel="stylesheet"
    />

    <!-- Include Font Awesome -->
    <script
      src="https://kit.fontawesome.com/b16b259998.js"
      crossorigin="anonymous"
    ></script>

    <!-- Include your main.js at the end -->
    <script
      src="../../js/bootstrap.bundle.min.js"
      th:src="@{../../js/bootstrap.bundle.min.js}"
    ></script>
    <script src="../../js/main.js" th:src="@{../../js/main.js}"></script>

    <style>
      .classpage {
        margin-right: 50px;
      }

      .deletebtn {
        margin-right: 20px;
      }
      #top {
        background-color: #cac6c677;
        width: 100%;
        overflow-x: hidden;
      }
      .card-body {
        display: flex;
        align-items: center; /* Đảm bảo các phần tử bên trong được căn giữa theo chiều dọc */
        text-decoration: none;
      }

      .content {
        flex: 1; /* Chiếm hết không gian còn lại */
      }

      .action {
        display: flex; /* Sử dụng flex để sắp xếp icon và class name ngang hàng */
        align-items: center; /* Căn các phần tử theo chiều dọc */
      }

      .action i {
        margin: auto; /* Khoảng cách giữa icon và class name */
      }
      .content {
        position: relative;
      }
      .action {
        position: absolute;
        top: 25px;
        right: 30px;
      }

      .dropdown-item {
        font-size: 14px; /* Điều chỉnh kích thước chữ */
      }

      .dropdown-item i {
        font-size: 12px; /* Điều chỉnh kích thước của icon */
        margin-right: 5px; /* Tạo khoảng cách giữa icon và chữ */
      }

      .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
      }
    </style>
  </head>

  <body id="top">
    <header class="bg-light">
      <nav
        class="navbar navbar-expand-sm p-0 navbar-light bg-white"
        id="header-nav"
        role="navigation"
      >
        <div class="container-fluid mx-2">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="link-dark navbar-brand site-title mb-0" href="./home"
              >ezQuiz</a
            >
            <div id="navSearch" class="position-relative mx-2 suggest-search">
              <input
                type="search"
                id="navSearchInput"
                class="form-control"
                placeholder="Search in Library"
              />
              <button
                id="navSearchButton"
                type="button"
                class="btn p-0 h-100 border-0 rounded-2"
              >
                <i class="fas fa-search"></i>
              </button>
              <div class="suggestions-list">
                <ul>
                  <li>Gợi ý 1</li>
                  <li>Gợi ý 2</li>
                  <li>Gợi ý 3</li>
                </ul>
              </div>
            </div>
            <ul class="navbar-nav align-items-center ms-auto">
              <li class="nav-item">
                <a
                  class="btn btn-sm bg-light mx-1 px-2 bd-left"
                  style="min-width: 111px"
                  th:href="@{/home}"
                >
                  Home&nbsp;&nbsp;<i class="fas fa-home"></i>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="btn dropdown-toggle btn-sm btn-purple px-2"
                  id="libraryDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="margin-right: 25px"
                  >Library</a
                >
                <!-- Library dropdown -->
                <div
                  id="libraryDropdown"
                  class="dropdown-menu bg-white shadow animated--grow-in p-0"
                  aria-labelledby="libraryDropdown"
                  style="min-width: 0; width: 100px; right: 25px"
                >
                  <a
                    class="dropdown-item btn btn-sm p-1"
                    th:href="@{/quiz/list}"
                  >
                    Quiz </a
                  ><a
                    class="dropdown-item btn btn-sm p-1"
                    th:href="@{/question/list}"
                  >
                    Question
                  </a>
                  <a
                    class="dropdown-item btn btn-sm p-1"
                    th:href="@{/classrooms/created}"
                  >
                    Classroom
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle bg-light rounded-full rounded-circle"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="padding: 6px 12px"
                >
                  <i class="fas fa-bars"></i>
                </a>

                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" th:href="@{/profile}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" th:href="@{/admin/list}">
                    <i
                      class="fas fa-solid fa-sm fa-fw mr-2 fa-users text-gray-400"
                    ></i>
                    User Management
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" th:href="@{/logout}">
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container" sec:authorize="hasRole('ROLE_TEACHER')">
      <div
        class="row d-flex justify-content-between text-right">
        <div class="col-sm-4">
          <form th:action="@{/classrooms/created}" class="d-flex">
            <input
              type="text"
              name="name"
              th:value="${name}"
              class="form-control me-2"
              placeholder="Search"
            />
            <button type="button" class="btn btn-outline-warning btn-sm">
              Search
            </button>
          </form>
        </div>
        <div class="col-md-4 offset-md-4">
          <button
            type="button"
            class="btn btn-purple"
            data-bs-toggle="modal"
            data-bs-target="#createClass"
          >
            <i class="fa-solid fa-plus"> Create a class </i>
          </button>
        </div>
      </div>

      <!-- Card Class -->
      <div class="row">
        <div class="col-sm-6" th:each="classrooms : ${classrooms}">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://i.etsystatic.com/24456611/r/il/e806dd/3118599492/il_600x600.3118599492_k3mm.jpg"
                  class="img-thumbnail rounded-start"
                  style="width: 150px; height: auto"
                  alt="Quiz Image"
                />
              </div>

              <div class="col-md-8">
                <div class="card-body">
                  <a th:href="@{'/classroom/update/' + ${classrooms.id}}">
                    <div class="content">
                      <h6
                        class="card-title mb-2"
                        th:text="${classrooms.className}"
                      ></h6>
                      <p
                        class="card-text mb-2"
                        th:text="${classrooms.description}"
                      ></p>
                    </div>
                  </a>
                  <div class="action dropdown">
                    <i
                      class="fa-solid fa-ellipsis-vertical btn"
                      data-bs-toggle="dropdown"
                      id="dropdownMenu2"
                    ></i>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <li>
                        <button class="dropdown-item" type="button">
                          <i class="fa-regular fa-pen-to-square"> Edit Class</i>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="dropdown-item">
                          <a
                            th:href="@{/classroom/delete/{id}(id=${classrooms.id})}"
                          >
                            <i class="fa-solid fa-trash"> Delete Class</i>
                          </a>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <br />
      <div>
        <ul class="pagination justify-content-end classpage">
          <li
            class="page-item"
            th:class="${currentPage == 0 ? 'disabled' : ''}"
          >
            <a
              class="page-link"
              th:href="@{/classrooms/created(page=0,name=${search})}"
              >First</a
            >
          </li>
          <li
            class="page-item"
            th:class="${currentPage == 0 ? 'disabled' : ''}"
          >
            <a
              class="page-link"
              th:href="@{/classrooms/created(page=${currentPage - 1},name=${search})}"
              >Previous</a
            >
          </li>
          <li
            aria-current="page"
            class="page-item"
            th:each="pageNumber : ${#numbers.sequence(0, totalPages -1)}"
            th:class="${pageNumber == currentPage} ? 'page-item active' : ''"
          >
            <a
              class="page-link"
              th:href="@{/classrooms/created(page=${pageNumber},name=${search})}"
              th:text="${pageNumber + 1}"
            ></a>
          </li>
          <li
            class="page-item"
            th:class="${currentPage == totalPages -1 ? 'disabled' : ''}"
          >
            <a
              class="page-link"
              th:href="@{/classrooms/created(page=${currentPage + 1},name=${search})}"
              >Next</a
            >
          </li>
          <li
            class="page-item"
            th:class="${currentPage == totalPages -1} ? 'disabled' : ''"
          >
            <a
              class="page-link"
              th:href="@{/classrooms/created(page=${totalPages - 1},name=${search})}"
              >Last</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Modal create -->
    <div
      class="modal fade"
      id="createClass"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <form
        th:action="@{/classrooms/created}"
        th:object="${classroom}"
        method="POST"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Classroom</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"
                  >Classroom Name:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  th:field="*{className}"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"
                  >Description:</label
                >
                <textarea
                  class="form-control"
                  id="message-text"
                  rows="3"
                  th:field="*{description}"
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-success" name="save">
                Save
              </button>
              <button
                type="button"
                class="btn btn-primary"
                name="close"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <!-- Chỉnh sửa -->
            </div>
          </div>
        </div>
      </form>
    </div>

    <script></script>
  </body>
</html>
