<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Create a new Classroom</h1>
      <hr />
      <form
        th:action="@{/classroom/create}"
        th:object="${classroom}"
        method="POST"
      >
        <!-- <input type="hidden" name="user_id" value="1" th:field="*{userId}" /> -->
        <div class="form-group">
          <label for="exampleFormControlInput1">Class Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            th:field="*{className}"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Description</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            th:field="*{description}"
          ></textarea>
        </div>
        <hr />
        <button type="submit" class="btn btn-outline-success">Save</button>
        <button type="submit" class="btn btn-outline-warning">
          <a th:href="@{/}">Back Home</a>
        </button>
      </form>
      <br />
    </div>
  </body>
</html>
