<!DOCTYPE html>
<html lang="en-US" xmlns:th="www.thymeleaf.org">
  <head th:replace="~{library :: head}"> </head>

  <body>
    <header th:replace="~{library :: topHeader}"></header>

    <div
      th:with="
        max=${page.getTotalPages()}, 
        content=${page.getContent()},
        totalResult=${page.getTotalElements()}
      "
    >
      <div class="page-content bg-light py-3">
        <div class="container-fluid gap-3 gap-lg-5">
          <div th:replace="~{library :: leftNav}"></div>

          <div id="content" class="d-flex flex-column p-1">
            <div class="d-flex justify-content-between">
              <div th:replace="~{library :: searchResult}"></div>
              <div class="d-flex gap-1">
                <div th:replace="~{library :: sort}"></div>
              </div>
            </div>

            <div th:replace="~{library :: showData(${page})}"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Import modal -->
    <div
      sec:authorize="hasRole('ROLE_TEACHER')"
      class="modal fade"
      id="excelImport"
      tabindex="-1"
      aria-labelledby="excelImportLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog mt-5">
        <div class="modal-content border-0">
          <div class="modal-header p-2 align-items-start">
            <div>
              <h5 class="modal-title" id="excelImportLabel">
                Import classrooms and students
              </h5>
              <p class="fw-lighter fst-italic m-0" style="font-size: small">
                Please upload the excel file according to the template below
              </p>
            </div>
            <button
              type="button"
              class="btn-sm btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              id="excelImportForm"
              th:action="@{./import}"
              enctype="multipart/form-data"
              class="input-group mb-3"
            >
              <input
                type="file"
                class="form-control"
                name="excelFile"
                id="inputExcelFile"
              />
            </form>
          </div>
          <div class="modal-footer p-1 d-flex justify-content-between">
            <a
              th:href="@{./download}"
              download="Template.xlsx"
              class="btn btn-sm bg-light px-2 glitter-button"
            >
              <i class="fas fa-download me-1"></i>Download template
            </a>
            <button
              role="button"
              class="btn btn-sm btn-secondary my-0 px-2 glitter-button"
              onclick="clickSaveAndContinue()"
            >
              Save & Continue&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal create -->
    <div
      sec:authorize="hasRole('ROLE_TEACHER')"
      class="modal fade"
      id="createClassModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" style="max-width: 456px">
        <div class="modal-content" style="padding: 8px">
          <div class="modal-header p-1 pb-0 d-flex">
            <div class="p-1">
              <h3
                class="modal-title fs-3"
                id="staticBackdropLabel"
                style="line-height: 0.88"
              >
                Create a new Classroom
              </h3>
              <span class="fw-light">It's easy and quick.</span>
            </div>

            <button
              type="button"
              class="btn-close position-relative"
              style="top: -30px; right: -3px"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body p-1 pt-2">
            <form
              id="createClassroomForm"
              class="d-flex flex-column gap-1"
              th:action="@{/classroom/create}"
              method="POST"
              role="form"
              autocomplete="off"
            >
              <!-- autocomplete="off" +
                 name="hidden" 
                type="text"
                style="display: none"  => ngan chan autocomplete -->
              <input
                autocomplete="false"
                name="hidden"
                type="text"
                style="display: none"
              />
              <div class="form-group">
                <label for="name" class="col-form-label">Class Name:</label>
                <input
                  class="form-control nameInput"
                  type="text"
                  id="name"
                  name="name"
                  maxlength="64"
                />
                <div class="error-area text-danger px-1">
                  <span id="nameError" class="d-none nameError">
                    Name existed!
                  </span>
                </div>
              </div>

              <div class="mb-3">
                <label for="description" class="col-form-label"
                  >Description:</label
                >
                <textarea
                  class="form-control"
                  id="description"
                  name="description"
                  rows="3"
                  maxlength="128"
                ></textarea>
              </div>

              <div class="d-flex justify-content-end">
                <button
                  id="saveButton"
                  type="button"
                  onclick="handleSaveClassClick()"
                  class="btn btn-sm btn-primary"
                  style="padding: 3px 23px"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal joinclass -->
    <div
      sec:authorize="hasRole('ROLE_LEARNER')"
      class="modal fade"
      id="joinClass"
      tabindex="-1"
      aria-labelledby="joinClass"
      aria-hidden="true"
    >
      <form th:action="@{/classroom/join}" method="POST">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="modal-title h5">Join a Class</div>
              <div style="color: #888">
                Enter a code that teacher shared with you
              </div>
              <div class="my-2 mb-3">
                <input
                  type="text"
                  class="form-control py-1"
                  id="recipient-name"
                  name="code"
                  placeholder="ABCD1234"
                  required
                />
              </div>
              <div class="text-end">
                <button
                  type="button"
                  class="btn btn-sm btn-purple px-2"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="btn btn-sm btn-purpleee"
                  name="join"
                >
                  Continue
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
        />
      </symbol>
    </svg>
    <div th:if="${param.created}" class="alert alert-success">
      <svg
        class="bi flex-shrink-0 me-2"
        role="img"
        aria-label="Info:"
        style="width: 20"
      >
        <use xlink:href="#check-circle-fill" />
      </svg>
      <span style="margin-right: 8px">Created class successfully!</span>
    </div>
    <div th:if="${param.joined}" class="alert alert-success">
      <svg
        class="bi flex-shrink-0 me-2"
        role="img"
        aria-label="Info:"
        style="width: 20"
      >
        <use xlink:href="#check-circle-fill" />
      </svg>
      <span style="margin-right: 8px">You have joined a class!</span>
    </div>
    <div th:if="${param.imported}" class="alert alert-success">
      <svg
        class="bi flex-shrink-0 me-2"
        role="img"
        aria-label="Info:"
        style="width: 20"
      >
        <use xlink:href="#check-circle-fill" />
      </svg>
      <span style="margin-right: 8px">Imported successfully!</span>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script
      src="https://kit.fontawesome.com/b16b259998.js"
      crossorigin="anonymous"
    ></script>

    <script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
    <script>
      function handleSaveClassClick() {
        console.log("clicked ...");
        handleFormSubmitByIdAndMethod(
          "createClassroomForm",
          function (message) {
            location.href = "/library/my-classroom?created";
          }
        );
      }

      $(document).ready(function () {
        window.setTimeout(function () {
          $(".alert").each(function () {
            $(this).alert("close");
          });
        }, 3000);
      });

      function clickSaveAndContinue() {
        handleFormSubmitByIdAndMethod("excelImportForm", function () {
          location.href = "/library/my-classroom?imported";
        });
      }
    </script>

    <script th:replace="~{library :: js-pagination}"></script>

    <script th:if="${param.new}">
      $(document).ready(function () {
        $("#createClassModal").modal("show");
      });
    </script>
  </body>
</html>
