<!DOCTYPE html>
<html lang="en-US" xmlns:th="www.thymeleaf.org">
  <head th:replace="~{library :: head}"> </head>

  <body>
    <header th:replace="~{library :: topHeader}"></header>

    <div class="page-content bg-light py-3">
      <div class="container-fluid">
        <div
          class="d-flex justify-content-center m-0 w-100 h-100 gap-2 gap-lg-3"
        >
          <div th:replace="~{library :: leftNav}"></div>

          <!-- <right content> -->
          <div id="content" class="d-flex flex-column">
            <form class="d-flex justify-content-between">
              <div class="ps-1" style="opacity: 0.69; line-height: 2">
                Found <span th:text="${totalItemNumber}">69</span> result(s).
                <span th:if="${#strings.isEmpty(page.search)}">
                  Displaying
                  <span th:text="${object != null ? object.size() : 0}"
                    >-1</span
                  >
                  result(s):
                </span>
                <span th:unless="${#strings.isEmpty(page.search)}">
                  Displaying of "<span th:text="${page.search}">err</span>"
                  (<span th:text="${object != null ? object.size() : 0}"
                    >-1</span
                  >
                  result<span th:if="${object != null && object.size() > 1}"
                    >s</span
                  >):
                </span>
              </div>
              <div class="d-flex gap-1">
                <div class="navbar-nav d-flex flex-column">
                  <div class="nav-item dropdown">
                    <button
                      class="btn dropdown-toggle btn-sm bg-white p-0 px-2 d-flex align-items-center"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="fas fa-sort me-2"></span>
                      <span th:if="${page.sort==null}"> Latest </span>
                      <span
                        th:unless="${page.sort==null}"
                        th:text="${page.sort}"
                        style="text-transform: capitalize"
                      ></span>
                    </button>
                    <!-- Sort dropdown -->
                    <div
                      id="sortDropdown"
                      class="dropdown-menu bg-white shadow animated--grow-in p-0"
                      aria-labelledby="sortDropdown"
                      style="min-width: 0; width: 123px"
                    >
                      <a
                        class="dropdown-item btn btn-sm p-0 sort-type text-center"
                      >
                        <span class="text-capitalize">latest</span>
                      </a>
                      <a
                        class="dropdown-item btn btn-sm p-0 sort-type text-center"
                      >
                        <span class="text-capitalize">oldest</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div id="data" class="section d-flex">
              <div class="d-flex flex-column gap-2">
                <div th:each="classroom : ${classroom}">
                  <div
                    sec:authorize="hasRole('ROLE_TEACHER')"
                    class="position-relative"
                  >
                    <div class="dropdown position-absolute ellipsis-toggle">
                      <button
                        class="btn"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        style="right: 0"
                      >
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" type="button">
                            <i class="fa-regular fa-pen-to-square"> </i>
                            Edit Class Detail
                          </a>
                        </li>
                        <li>
                          <a
                            type="button"
                            class="dropdown-item"
                            th:href="@{/classroom/{id}/delete(id=${classroom.id})}"
                            onclick="confirm('Are you sure you want to delete this classroom?')"
                          >
                            <i class="fa-solid fa-trash"> </i> Delete Class
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div sec:authorize="hasRole('ROLE_TEACHER')">
                    <a
                      th:href="@{./{id}(id=${classroom.id})}"
                      class="btn p-1 d-flex gap-1 rounded-1 classroom-item"
                      style="min-width: 678px; height: 170px"
                    >
                      <div class="h-100 w-20">
                        <img
                          class="h-100"
                          src="https://i.etsystatic.com/24456611/r/il/e806dd/3118599492/il_600x600.3118599492_k3mm.jpg"
                        />
                      </div>
                      <div
                        class="bg-light d-flex flex-column align-items-start flex-fill gap-1 p-1"
                      >
                        <div class="my-0 h5" th:text="${classroom.name}">
                          Class Name
                        </div>
                        <p
                          class="text-small m-0 flex-fill fw-light"
                          th:text="${classroom.description}"
                        >
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit.
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div th:each="classroom: ${classrooms}">
                  <div
                    sec:authorize="hasRole('ROLE_LEARNER')"
                    class="p-1 d-flex gap-1 rounded-1 classroom-item"
                    style="min-width: 678px; height: 170px"
                  >
                    <div class="h-100 w-20">
                      <img
                        class="h-100"
                        src="https://i.etsystatic.com/24456611/r/il/e806dd/3118599492/il_600x600.3118599492_k3mm.jpg"
                      />
                    </div>
                    <div
                      class="bg-light d-flex flex-column align-items-start flex-fill gap-1 p-1"
                    >
                      <div
                        class="my-0 h5"
                        th:text="${classroom.getClassroom().name}"
                      >
                        Class Name
                      </div>
                      <p
                        class="text-small m-0 flex-fill fw-light"
                        th:text="${classroom.getClassroom().description}"
                        vbgjmnhh
                      >
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Import modal -->
    <div
      sec:authorize="hasRole('ROLE_TEACHER')"
      class="modal fade"
      id="excelImport"
      tabindex="-1"
      aria-labelledby="excelImportLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog mt-5">
        <div class="modal-content border-0">
          <div class="modal-header p-2 align-items-start">
            <div>
              <h5 class="modal-title" id="excelImportLabel">
                Import classrooms and students
              </h5>
              <p class="fw-lighter fst-italic m-0" style="font-size: small">
                Please upload the excel file according to the template below
              </p>
            </div>
            <button
              type="button"
              class="btn-sm btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              id="excelImportForm"
              th:action="@{./import}"
              enctype="multipart/form-data"
              class="input-group mb-3"
            >
              <input
                type="file"
                class="form-control"
                name="excelFile"
                id="inputExcelFile"
              />
            </form>
          </div>
          <div class="modal-footer p-1 d-flex justify-content-between">
            <a
              th:href="@{./download}"
              download="Template.xlsx"
              class="btn btn-sm bg-light px-2 glitter-button"
            >
              <i class="fas fa-download me-1"></i>Download template
            </a>
            <button
              role="button"
              class="btn btn-sm btn-secondary my-0 px-2 glitter-button"
              onclick="clickSaveAndContinue()"
            >
              Save & Continue&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal create -->
    <div
      sec:authorize="hasRole('ROLE_TEACHER')"
      class="modal fade"
      id="createClassModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" style="max-width: 456px">
        <div class="modal-content" style="padding: 8px">
          <div class="modal-header p-1 pb-0 d-flex">
            <div class="p-1">
              <h3
                class="modal-title fs-3"
                id="staticBackdropLabel"
                style="line-height: 0.88"
              >
                Create a new Classroom
              </h3>
              <span class="fw-light">It's easy and quick.</span>
            </div>

            <button
              type="button"
              class="btn-close position-relative"
              style="top: -30px; right: -3px"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body p-1 pt-2">
            <form
              id="createClassroomForm"
              class="d-flex flex-column gap-1"
              th:action="@{/classroom/create}"
              method="POST"
              role="form"
              autocomplete="off"
            >
              <!-- autocomplete="off" +
                 name="hidden" 
                type="text"
                style="display: none"  => ngan chan autocomplete -->
              <input
                autocomplete="false"
                name="hidden"
                type="text"
                style="display: none"
              />
              <div class="form-group">
                <label for="name" class="col-form-label">Class Name:</label>
                <input
                  class="form-control nameInput"
                  type="text"
                  id="name"
                  name="name"
                  maxlength="64"
                />
                <div class="error-area text-danger px-1">
                  <span id="nameError" class="d-none nameError">
                    Name existed!
                  </span>
                </div>
              </div>

              <div class="mb-3">
                <label for="description" class="col-form-label"
                  >Description:</label
                >
                <textarea
                  class="form-control"
                  id="description"
                  name="description"
                  rows="3"
                  maxlength="128"
                ></textarea>
              </div>

              <div class="d-flex justify-content-end">
                <button
                  id="saveButton"
                  type="button"
                  onclick="handleSaveClassClick()"
                  class="btn btn-sm btn-primary"
                  style="padding: 3px 23px"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal joinclass -->
    <div
      sec:authorize="hasRole('ROLE_LEARNER')"
      class="modal fade"
      id="joinClass"
      tabindex="-1"
      aria-labelledby="joinClass"
      aria-hidden="true"
    >
      <form th:action="@{/classroom/join}" method="POST">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="modal-title h5">Join a Class</div>
              <div style="color: #888">
                Enter a code that teacher shared with you
              </div>
              <div class="my-2 mb-3">
                <input
                  type="text"
                  class="form-control py-1"
                  id="recipient-name"
                  name="code"
                  placeholder="ABCD1234"
                  required
                />
              </div>
              <div class="text-end">
                <button
                  type="button"
                  class="btn btn-sm btn-purple px-2"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="btn btn-sm btn-purpleee"
                  name="join"
                >
                  Continue
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
        />
      </symbol>
    </svg>
    <div th:if="${param.created}" class="alert alert-success">
      <svg
        class="bi flex-shrink-0 me-2"
        role="img"
        aria-label="Info:"
        style="width: 20"
      >
        <use xlink:href="#check-circle-fill" />
      </svg>
      <span style="margin-right: 8px">Created class successfully!</span>
    </div>
    <div th:if="${param.joined}" class="alert alert-success">
      <svg
        class="bi flex-shrink-0 me-2"
        role="img"
        aria-label="Info:"
        style="width: 20"
      >
        <use xlink:href="#check-circle-fill" />
      </svg>
      <span style="margin-right: 8px">You have joined a class!</span>
    </div>
    <div th:if="${param.imported}" class="alert alert-success">
      <svg
        class="bi flex-shrink-0 me-2"
        role="img"
        aria-label="Info:"
        style="width: 20"
      >
        <use xlink:href="#check-circle-fill" />
      </svg>
      <span style="margin-right: 8px">Imported successfully!</span>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script
      src="https://kit.fontawesome.com/b16b259998.js"
      crossorigin="anonymous"
    ></script>

    <script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
    <script>
      function handleSaveClassClick() {
        console.log("clicked ...");
        handleFormSubmitByIdAndMethod(
          "createClassroomForm",
          function (message) {
            window.location.href = "/classroom/created-list?created";
          }
        );
      }

      $(document).ready(function () {
        window.setTimeout(function () {
          $(".alert").each(function () {
            $(this).alert("close");
          });
        }, 3000);
      });

      function clickSaveAndContinue() {
        handleFormSubmitByIdAndMethod("excelImportForm", function () {
          window.location.href = "/classroom/created-list?imported";
        });
      }
    </script>

    <script th:inline="javascript" th:fragment="js-pagination">
      /*<![CDATA[*/
      const sort = /*[[${page.sort}]]*/ "";
      const pageSize = /*[[${page.size}]]*/ 1;
      const page = /*[[${page.page}]]*/ 1;
      const search = /*[[${page.search}]]*/ "";
      $(document).ready(function () {
        $(".sort-type").each(function () {
          let sortType = $(this).find("span").text();
          $(this).on("click", function () {
            console.log(sortType);
            location.href = `/classroom/created-list?search=${search}&sort=${sortType}&page=${page}&size=${pageSize}`;
          });
        });

        $(".page-index").each(function () {
          const pageIndex = $(this).text();
          if (pageIndex <= 9) {
            $(this).css("padding", "5px 13px");
          } else if (pageIndex > 9) {
            $(this).css("padding", "5px 8px");
          }
          $(this).on("click", function () {
            location.href = `/classroom/created-list?search=${search}&sort=${sort}&page=${pageIndex}&size=${pageSize}`;
          });
        });
      });

      function prevPage() {
        location.href = `/classroom/created-list?search=${search}&sort=${sort}&page=${
          page - 1
        }&size=${pageSize}`;
      }

      function nextPage() {
        location.href = `/classroom/created-list?search=${search}&sort=${sort}&page=${
          page + 1
        }&size=${pageSize}`;
      }

      $(document).ready(function () {
        $("#navSearchInput").on("keydown", function (event) {
          if (event.keyCode === 13) {
            searchLibraryItem();
          }
        });
      });

      function searchLibraryItem() {
        let term = $("#navSearchInput").val();
        location.href = `/classroom/created-list?search=${term}&sort=${sort}&page=${page}&size=${pageSize}`;
      }
      /*]]>*/
    </script>

    <script th:if="${param.newClass}">
      $(document).ready(function () {
        $("#createClassModal").modal("show");
      });
    </script>
  </body>
</html>
