<!DOCTYPE html>
<html lang="en-US" th:xmlns="www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />

    <link
      href="../../static/vendor/bootstrap/bootstrap.min.css"
      th:href="@{/vendor/bootstrap/bootstrap.min.css}"
      rel="stylesheet"
    />

    <link
      href="../../static/css/font.css"
      th:href="@{/css/font.css}"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="my-5">
      <div
        class="container pt-1 pb-3 bg-light min-vh-50 d-flex justify-content-center align-items-center"
        style="max-width: 999px"
      >
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="fw-bold display-1">404</h1>
            <p class="h2">Sorry, we can’t find the page you’re looking for.</p>
            <p th:text="${message}"></p>
            <p>Click the button below to go back to the homepage</p>
            <a class="btn btn-primary" th:href="@{/home}" role="button"
              >Go to Homepage</a
            >
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
