.page-content {
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  top: 88px;
  left: 0;
}

.nav-link a {
  opacity: 0.55;
  margin-left: 1.23rem;
  font-size: 1.11rem;
}

.nav-link.active {
  a {
    color: #8854c0;
    opacity: 1;
  }
}

.nav-link:hover {
  a {
    opacity: 1;
  }

  .rotate-on-hover {
    animation: rotate 0.5s linear forwards;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(-8deg);
  }

  66% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  padding: 0;
  gap: 3px;
}

.page-item .page-link {
  border: none;
  background-color: transparent;
  border-radius: 7px;

  &:hover {
    color: #8854c0;
  }
}

.page-item.active .page-link {
  background-color: #ac82d8;

  &:hover {
    color: #fff;
  }
}

#content {
  min-width: 678px;
}
#content .dropdown-menu {
  position: absolute;

  .filter-label,
  .sort-label {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .filter-label {
    margin-left: 12px;
  }
}

.btn.item {
  border: solid 1px #f4f5f6;
  height: 188px;
}
.btn.item:hover {
  border: solid 1px #dedede !important;
  background-color: #f4f5f6 !important;
  .item-tag:first-child {
    background-color: #fff !important;
  }
}
