.img-profile {
  height: 2.5rem;
  width: 2.5rem;
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  right: 0;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.85rem;
  color: #858796;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}
