<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Detail</title>
    <link th:href="@{../../vendor/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{../../css/main.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="~{index.html :: header-navbar}" class="bg-light"></header>
<div>
<h2 class="justify-content-center" style="display: flex; padding-top: 15px">QUIZ DETAIL</h2>
</div>
<div class="container" style="padding-top: 15px">
    <form th:object="${quiz}" method="post">
        <div class="container justify-content-center" style="display: flex" >
            <div class="col-md-5">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Quiz Code</label>
                    <input th:field="*{code}" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Quiz Code" readonly style="align-content: center; width: 450px">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Quiz Title</label>
                    <input th:field="*{title}" type="text" class="form-control" id="exampleFormControlInput2" placeholder="Quiz Title" readonly
                           style="align-content: center; width: 450px ">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <textarea th:field="*{description}" class="form-control" id="exampleFormControlTextarea1" rows="3"
                              style="align-content: center; width: 450px " readonly></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Quiz Type</label>
                    <input th:value="${quiz.isExamOnly}? 'Exam Only' : 'Practice'" type="text" class="form-control" id="exampleFormControlInput" readonly
                           style="align-content: center; width: 450px ">
                </div>

            </div>
            <div class="col-md-5">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Status</label>
                    <input  th:value="${quiz.isActive}? 'Active' : 'Inactive'" type="text" class="form-control" id="exampleFormControlInput6" readonly
                            style="align-content: center; width: 450px ">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Created At</label>
                    <input th:field="*{createdAt}" type="text" class="form-control" id="exampleFormControlInput3" readonly style="align-content: center; width: 450px">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Updated At</label>
                    <input th:field="*{updateAt}" type="text" class="form-control" id="exampleFormControlInput4" readonly
                           style="align-content: center; width: 450px ">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Created By</label>
                    <input th:field="*{createdBy.fullName}" type="text" class="form-control" id="exampleFormControlInput5" readonly
                           style="align-content: center; width: 450px ">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>