<!DOCTYPE html>
<html lang="en-US" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Library</title>
  <link
          rel="icon"
          type="image/x-icon"
          href="../../static/images/favicon.ico"
          th:href="@{/images/favicon.ico}"
  />
  <link
          href="../../static/vendor/bootstrap/bootstrap.min.css"
          th:href="@{/vendor/bootstrap/bootstrap.min.css}"
          rel="stylesheet"
  />
  <link
          href="../../static/css/main.css"
          th:href="@{/css/main.css}"
          rel="stylesheet"
  />
  <link
          href="../../static/css/quiz/quiz-editing.css"
          th:href="@{/css/quiz/quiz-editing.css}"
          rel="stylesheet"
  />
  <!-- Font Family Nunito Sans -->
  <link
          href="../../static/css/font.css"
          th:href="@{/css/font.css}"
          rel="stylesheet"
  />

  <style>
    .page-content {
      min-height: 90vh;
    }

    .sticky-nav {
      position: sticky;
      top: 88px;
      left: 0;
    }

    .nav-link a {
      opacity: 0.55;
      margin-left: 1.23rem;
      font-size: 1.11rem;
    }

    .nav-link.active {
      a {
        color: #8854c0;
        opacity: 1;
      }
    }
    .nav-link:hover {
      a {
        opacity: 1;
      }
      .rotate-on-hover {
        animation: rotate 0.5s linear forwards;
      }
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      33% {
        transform: rotate(-8deg);
      }
      66% {
        transform: rotate(15deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    #content {
      padding: 8px;
      min-width: 488px;
      max-width: 678px;
    }

    #content .dropdown-menu {
      position: absolute;
      .filter-label,
      .sort-label {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      .filter-label {
        margin-left: 12px;
      }
    }

    .pagination {
      gap: 3px;
      align-items: center;
    }

    .page-item .page-link {
      border: none;
      background-color: transparent;
      border-radius: 7px;
    }

    .page-item.active .page-link {
      background-color: #ac82d8;
    }
  </style>
</head>

<body>
<header class="bg-light">
  <nav
          class="navbar navbar-expand-sm p-0 navbar-light bg-white"
          id="header-nav"
          role="navigation"
  >
    <div class="container-fluid mx-2">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="link-dark navbar-brand site-title mb-0" href="./home"
        >ezQuiz</a
        >
        <div id="navSearch" class="position-relative mx-2 suggest-search">
          <input
                  type="search"
                  id="navSearchInput"
                  class="form-control"
                  placeholder="Search in Library"
          />
          <button
                  id="navSearchButton"
                  type="button"
                  class="btn p-0 h-100 border-0 rounded-2"
          >
            <i class="fas fa-search"></i>
          </button>
          <div class="suggestions-list">
            <ul>
              <li>Gợi ý 1</li>
              <li>Gợi ý 2</li>
              <li>Gợi ý 3</li>
            </ul>
          </div>
        </div>
        <ul class="navbar-nav align-items-center ms-auto">
          <li class="nav-item">
            <a
                    class="btn btn-sm bg-light mx-1 px-2 bd-left"
                    style="min-width: 111px"
                    th:href="@{/home}"
            >
              Home&nbsp;&nbsp;<i class="fas fa-home"></i>
            </a>
          </li>
          <li class="nav-item dropdown no-arrow">
            <a
                    class="btn dropdown-toggle btn-sm px-2"
                    id="libraryDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="
                    margin-right: 25px;
                    background-color: #8854c0;
                    color: #fff;
                  "
            >
              Create<i class="fas fa-plus" style="margin-left: 5px"></i
            ></a>
            <!-- Library dropdown -->
            <div
                    id="libraryDropdown"
                    class="dropdown-menu bg-white shadow animated--grow-in p-0"
                    aria-labelledby="libraryDropdown"
                    style="min-width: 0; width: 100px; right: 25px"
            >
              <a
                      class="dropdown-item btn btn-sm p-1"
                      href="quiz/quiz-editing.html"
                      th:href="@{/quiz/new}"
              >
                Quiz </a
              ><a
                    class="dropdown-item btn btn-sm p-1"
                    th:href="@{/question/list}"
            >
              Question
            </a>
              <a
                      class="dropdown-item btn btn-sm p-1"
                      th:href="@{/classrooms/created}"
              >
                Classroom
              </a>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow">
            <a
                    class="nav-link dropdown-toggle bg-light rounded-full rounded-circle"
                    id="userDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="padding: 6px 12px"
            >
              <i class="fas fa-bars"></i>
            </a>

            <!-- Dropdown - User Information -->
            <div
                    class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown"
            >
              <a class="dropdown-item" th:href="@{/profile}">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" th:href="@{/admin/list}">
                <i
                        class="fas fa-solid fa-sm fa-fw mr-2 fa-users text-gray-400"
                ></i>
                User Management
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" th:href="@{/logout}">
                <i
                        class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                ></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="page-content bg-light py-3">
  <div class="container-fluid">
    <div
            class="d-flex justify-content-center m-0 w-100 h-100 gap-2 gap-lg-3"
    >
      <!-- Left Nav - Library Nav -->
      <div
              class="section d-none d-md-block sticky-nav col-lg-3"
              style="height: fit-content; min-width: 199px; max-width: 234px"
      >
        <header>
          <div><h4>Library</h4></div>
        </header>
        <ul class="nav d-flex flex-column align-items-center">
          <li class="nav-link w-100 p-0 rounded-1">
            <a class="btn btn-sm d-flex" th:href="@{/library}">
              <div class="square-33-center-item rotate-on-hover">
                <i class="fas fa-list"></i>
              </div>
              <div class="d-flex align-items-center flex-1">
                <span>All</span>
              </div>
            </a>
          </li>
          <li class="nav-link w-100 p-0 rounded-1 active">
            <a class="btn btn-sm d-flex" th:href="@{/quiz/my-quiz}">
              <div class="square-33-center-item rotate-on-hover">
                <i class="fas fa-graduation-cap"></i>
              </div>
              <div class="d-flex align-items-center flex-1">
                <span>Quiz</span>
              </div>
            </a>
          </li>
          <li class="nav-link w-100 p-0 rounded-1">
            <a class="btn btn-sm d-flex" href="question/question-list.html">
              <div class="square-33-center-item rotate-on-hover">
                <i class="fas fa-clipboard-question"></i>
              </div>
              <div class="d-flex align-items-center flex-1">
                <span>Question</span>
              </div>
            </a>
          </li>
          <li class="nav-link w-100 p-0 rounded-1">
            <a
                    class="btn btn-sm d-flex"
                    href="classroom/class-list.html"
                    th:href="@{/classrooms/created}"
            >
              <div class="square-33-center-item rotate-on-hover">
                <i class="fas fa-book"></i>
              </div>
              <div class="d-flex align-items-center flex-1">
                <span>Classroom</span>
              </div>
            </a>
          </li>
        </ul>
        <div class="divider left-content-divider"></div>

        <div class="mt-2">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center bg-light">
              <li class="page-item">
                <a class="page-link" aria-label="Previous">
                  <span style="color: #000">&lt;</span>&nbsp;Prev
                </a>
              </li>
              <li
                      class="page-item"
                      th:classappend="${currentPage == 1 ? 'active' : ''}"
              >
                <a class="page-link">1</a>
              </li>
              <li
                      th:if="${currentPage < 3}"
                      class="page-item ms-0 me-3"
                      th:classappend="${currentPage == 2 ? 'active' : ''}"
              >
                <a class="page-link">2</a>
              </li>
              <li
                      th:if="${currentPage > 2 && currentPage < max - 1}"
                      class="page-item mx-2 active"
              >
                <a class="page-link" th:text="${currentPage}">98</a>
              </li>
              <li
                      th:if="${currentPage > max - 2}"
                      class="page-item ms-3 me-0"
                      th:classappend="${currentPage == max -1 ? 'active' : ''}"
              >
                <a class="page-link" th:text="${max - 1}">98</a>
              </li>
              <li
                      class="page-item"
                      th:classappend="${currentPage == max ? 'active' : ''}"
              >
                <a class="page-link" th:text="${max}">99</a>
              </li>
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                  Next&nbsp;<span style="color: #000">&gt;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- </Left Nav> -->

      <!-- <right content> -->
      <div
              id="content"
              class="d-flex flex-column"
              style="gap: 0.456789rem; min-width: 678px"
      >
        <form class="d-flex justify-content-between">
          <div style="opacity: 0.69; line-height: 2">
            <span>Displaying of "a"</span>
            (69 results)
          </div>
          <div class="d-flex gap-1">
            <div class="navbar-nav d-flex flex-column">
              <div class="nav-item dropdown">
                <button
                        class="btn dropdown-toggle btn-sm bg-white p-0"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        style="width: 88px"
                >
                  <span class="fas fa-filter" style="margin: 0 3px"></span>
                  <span th:if="${param.draft==null}"> All </span>
                  <span
                          th:unless="${param.draft==null}"
                          th:text="${isDraft == false ? 'Not Draft' : 'Draft' }"
                          style="text-transform: capitalize"
                  ></span>
                </button>
                <!-- Fitler dropdown -->
                <div
                        id="filterDropdown"
                        class="dropdown-menu bg-white shadow animated--grow-in p-0"
                        aria-labelledby="filterDropdown"
                        style="min-width: 0; width: 88px"
                >
                  <input
                          type="radio"
                          name="draft"
                          value="true"
                          class="btn-check"
                          id="isDraft"
                          autocomplete="off"
                          th:checked="${isDraft != null && isDraft}"
                  />
                  <button
                          type="submit"
                          class="dropdown-item btn btn-sm p-0"
                  >
                    <label class="filter-label" for="isDraft">Draft</label>
                  </button>
                  <input
                          type="radio"
                          name="draft"
                          value="false"
                          class="btn-check"
                          id="notDraft"
                          autocomplete="off"
                          th:checked="${isDraft != null && !isDraft}"
                  />
                  <button
                          type="submit"
                          class="dropdown-item btn btn-sm p-0"
                  >
                    <label class="filter-label" for="notDraft"
                    >Not Draft</label
                    >
                  </button>
                </div>
              </div>
            </div>
            <div class="navbar-nav d-flex flex-column">
              <div class="nav-item dropdown">
                <button
                        class="btn dropdown-toggle btn-sm bg-white p-0"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                  <span class="fas fa-sort" style="margin: 0 3px"></span>
                  <span th:if="${param.sortOrder==null}"> Latest </span>
                  <span
                          th:unless="${param.sortOrder==null}"
                          th:text="${param.sortOrder}"
                          style="text-transform: capitalize"
                  ></span>
                </button>
                <!-- Sort dropdown -->
                <div
                        id="sortDropdown"
                        class="dropdown-menu bg-white shadow animated--grow-in p-0"
                        aria-labelledby="sortDropdown"
                        style="min-width: 0; width: 88px"
                >
                  <input
                          type="radio"
                          name="sortOrder"
                          value="latest"
                          class="btn-check"
                          id="sortLatest"
                          autocomplete="off"
                          th:checked="${sort.equals('latest')}"
                  />
                  <button
                          type="submit"
                          class="dropdown-item btn btn-sm p-0"
                  >
                    <label class="sort-label text-center" for="sortLatest"
                    >Latest</label
                    >
                  </button>
                  <input
                          type="radio"
                          name="sortOrder"
                          value="oldest"
                          class="btn-check"
                          id="sortOldest"
                          autocomplete="off"
                          th:checked="${sort.equals('oldest')}"
                  />
                  <button
                          type="submit"
                          class="dropdown-item btn btn-sm p-0"
                  >
                    <label class="sort-label text-center" for="sortOldest"
                    >Oldest</label
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div id="data" class="section">
          <div class="d-flex flex-column gap-2">
            <div
                    class="bg-white p-1 d-flex flex-row gap-1 rounded-1"
                    style="height: 188px"
                    th:each="quiz: ${quiz}"
            >
              <div class="bg-info h-100 w-25">
                <img class="h-100" th:src="${quiz.image}" />
              </div>
              <!-- quiz details to the right -->
              <div class="bg-light d-flex flex-column flex-fill gap-1 p-1">
                <!-- quiz tag & ellipsis button -->
                <div class="d-flex align-items-center position-relative">
                  <div
                          class="bg-white rounded-2 item-tag px-1"
                          th:text="${quiz.type}"
                  ></div>
                  <div
                          th:if="${quiz.isDraft}"
                          class="rounded-2 item-tag px-1"
                          style="color: rgb(247, 95, 95)"
                  >
                    draft
                  </div>
                  <button
                          class="btn btn-sm bg-white position-absolute"
                          style="right: 10px; top: 8px; padding: 3px 8px 2px 8px"
                  >
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </button>
                </div>
                <!-- quiz title -->
                <h6 class="my-0" th:text="${quiz.title}">Quiz Title</h6>
                <!-- description -->
                <p
                        class="text-small m-0 flex-fill"
                        th:text="${quiz.description}"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <!-- creator & created-date & button -->
                <div
                        class="mt-auto d-flex justify-content-between align-items-center"
                        style="align-items: center"
                >
                  <div
                          class="d-flex flex-row align-items-center"
                          style="font-size: 12px; opacity: 0.88; font-weight: 100"
                  >
                    <div class="d-flex flex-row align-items-center">
                      <i
                              class="fas fa-list h-100"
                              style="opacity: 0.55; margin-right: 3px"
                      ></i>
                      <span
                              style="margin: 0 3px"
                              th:text="${quiz.itemNumber}"
                      >99</span
                      ><span>question(s)</span>
                    </div>
                    <div class="d-flex flex-row align-items-center mx-2">
                      <i
                              class="fas fa-history h-100"
                              style="opacity: 0.55; margin-right: 3px"
                      ></i>
                      <span
                              style="margin: 0 3px"
                              th:text="${quiz.timeString}"
                      >99</span
                      >
                    </div>
                  </div>

                  <div>
                    <button class="btn btn-sm btn-primary m-0 py-0">
                      Play
                      <i class="fas fa-caret-down"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script
        src="../../static/js/bootstrap.bundle.min.js"
        th:src="@{../js/bootstrap.bundle.min.js}"
></script>
<script src="../../static/js/main.js" th:src="@{../js/main.js}"></script>
<script
        src="https://kit.fontawesome.com/b16b259998.js"
        crossorigin="anonymous"
></script>
</body>
</html>
