<div
  sec:authorize="hasRole('ROLE_LEARNER')"
  th:if="${data.type.equals('quiz')}"
  class="btn item p-1 d-flex gap-1 rounded-1 shadow-sm"
  style="cursor: auto"
>
  <div th:with="data=${data.quiz}">
    <div style="width: 169px">
      <img
        th:if="${data.imageUrl}"
        class="h-100 rounded-1"
        style="border: #f4f5f6 solid 1px; max-width: 169px"
        th:src="${data.imageUrl}"
      />
      <div
        th:unless="${data.imageUrl}"
        class="h-100 rounded-1"
        th:style="'background-color: ' + ${params.randomBgColor()}"
      ></div>
    </div>

    <div class="d-flex flex-column align-items-start flex-fill gap-1 p-1 px-2">
      <div class="d-flex" style="margin-top: 3px">
        <div
          th:if="${data.isDraft}"
          class="rounded-2 item-tag px-1"
          style="color: rgb(247, 95, 95)"
        >
          draft
        </div>
      </div>
      <div class="my-0 h5" th:text="${data.title}">Quiz Name</div>

      <p
        class="text-small m-0 flex-fill fw-light"
        th:text="${data.description}"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>

      <div class="d-flex justify-content-between align-items-center w-100">
        <div
          class="d-flex flex-row align-items-center"
          style="font-size: 12px; opacity: 0.88; font-weight: 100"
        >
          <div
            th:if="${data.teacherName}"
            class="d-flex flex-row align-items-center"
          >
            <i
              class="fas fa-user h-100"
              style="opacity: 0.55; margin-right: 3px"
            ></i>
            <span th:text="${data.teacherName}">err</span>
          </div>
          <div class="d-flex flex-row align-items-center">
            <i
              class="fas fa-list h-100"
              style="opacity: 0.55; margin-right: 3px"
            ></i>
            <span style="margin: 0 3px" th:text="${data.questions.size()}"
              >99</span
            ><span>question(s)</span>
          </div>
          <div class="d-flex flex-row align-items-center mx-2">
            <i
              class="fas fa-history h-100"
              style="opacity: 0.55; margin-right: 3px"
            ></i>
            <span style="margin: 0 3px">99</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
