<!DOCTYPE html>
<html lang="en-US" xmlns:th="www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ezQuiz Home Page</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/images/favicon.ico"
      th:href="@{../../images/favicon.ico}"
    />

    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="crossorigin"
    />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      />
    </noscript>
    <link
      href="../static/vendor/bootstrap/bootstrap.min.css"
      th:href="@{../../vendor/bootstrap/bootstrap.min.css}"
      rel="stylesheet"
    />
    <link
      href="../static/css/main.css"
      th:href="@{../../css/main.css}"
      rel="stylesheet"
    />
    <link
      href="../static/css/profile-menu.css"
      th:href="@{css/profile-menu.css}"
      rel="stylesheet"
    />

    <style>
      #top-left {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .left-center {
        border-radius: 10px;
        border: solid 2px #0000001a;
      }
      .actions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        padding: 0.5rem 1rem;
      }
      .portada {
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: rgba(246, 211, 101, 1);
        background-position: bottom center;
        background-size: cover;
      }
      .actions button {
        border: none;
        background: none;
        font-size: 24px;
        color: #8bc34a;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: #000;

        &:hover {
          color: #4caf50;
          transform: rotate(4deg);
        }
      }

      .content .btn-purple {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 800;
        transition: all 0.2s;
      }

      #libraryDropdown a {
        color: #8854c0;
        &:hover {
          background-color: #f1edf6;
        }
      }
    </style>
  </head>

  <body>
    <header class="bg-light">
      <nav
        class="navbar navbar-expand-sm p-0 navbar-light bg-white"
        id="header-nav"
        role="navigation"
      >
        <div class="container-fluid mx-2">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="link-dark navbar-brand site-title mb-0" href="./"
              >ezQuiz</a
            >
            <div id="navSearch" class="position-relative mx-2">
              <input
                type="search"
                id="search-input"
                class="form-control"
                placeholder="Search in library"
              />
              <button
                id="navSearchButton"
                type="button"
                class="btn p-0 h-100 border-0 rounded-2"
              >
                <i class="fas fa-search"></i>
              </button>
              <div class="suggestions-list">
                <ul>
                  <li>Gợi ý 1</li>
                  <li>Gợi ý 2</li>
                  <li>Gợi ý 3</li>
                </ul>
              </div>
            </div>
            <ul class="navbar-nav align-items-center ms-auto">
              <li class="nav-item">
                <a
                  class="btn btn-sm bg-light mx-1 px-2 bd-left"
                  style="min-width: 111px"
                  href=""
                >
                  Home&nbsp;&nbsp;<i class="fas fa-home"></i>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="btn dropdown-toggle btn-sm btn-purple px-2"
                  id="libraryDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="margin-right: 25px"
                  >Library</a
                >
                <!-- Library dropdown -->
                <div
                  id="libraryDropdown"
                  class="dropdown-menu bg-white shadow animated--grow-in p-0"
                  aria-labelledby="libraryDropdown"
                  style="min-width: 0; width: 100px; right: 25px"
                >
                  <a class="dropdown-item btn btn-sm p-1"> Quiz </a>
                  <a class="dropdown-item btn btn-sm p-1" href="#">
                    Classroom
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle bg-light rounded-full rounded-circle"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="padding: 6px 12px"
                >
                  <i class="fas fa-bars"></i>
                </a>

                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" th:href="@{/profile}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" th:href="@{/admin/list}">
                    <i
                      class="fas fa-solid fa-sm fa-fw mr-2 fa-users text-gray-400"
                    ></i>
                    User Management
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    th:href="@{/logout}"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
            <!-- <a class="btn btn-sm btn-primary px-2"
              ><i class="fas fa-save me-1"></i> SAVE</a
            > -->
          </div>
        </div>
      </nav>
    </header>

    <div class="page-content bg-light py-3">
      <div id="top-content" class="d-none d-md-block my-2">
        <div class="d-flex position-relative justify-content-center">
          <div id="top-left" class="col-6 border-1 rounded-2 custom-box-shadow">
            <div class="d-flex position-relative bg-light left-center p-2">
              <form action="" class="p-0">
                <input
                  id="joinCode"
                  type="text"
                  class="col-8 form-control rounded-3 custom-box-shadow"
                  style="border: none; font-weight: bolder"
                  placeholder="Enter code"
                />
              </form>
              <div class="p-0">
                <a
                  class="btn btn-sm btn-primary border-0 rounded-3 custom-box-shadow"
                  role="button"
                  style="padding: 7px 16px; margin-left: 10px"
                >
                  Join
                </a>
              </div>
            </div>
          </div>

          <div id="top-right" class="col-3" style="min-width: 299px">
            <div
              class="border-1 rounded-2 custom-box-shadow position-relative"
              style="
                margin-left: 16px;
                display: grid;
                grid-template-columns: 1fr 2fr;
              "
            >
              <div class="portada">
                <!-- Your content for the 'portada' div -->
              </div>
              <div class="p-3 rounded-2">
                <h6 class="m-0" style="min-width: 180px">Nguyen Minh Thanh</h6>
                <div>(K16 Hoa Lac)</div>
                <div class="actions">
                  <button><i class="far fa-heart"></i></button>
                  <button><i class="far fa-envelope"></i></button>
                  <button><i class="fas fa-user-friends"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Recent Quiz Attempts -->
      <div id="bottom-content" class="container">
        <div class="section my-2">
          <div
            style="
              justify-content: space-between;
              align-items: center;
              display: flex;
              padding: 20px 0 0 0;
            "
          >
            <h6 class="marker marker-center" style="font-size: 24px">
              Recent quiz
            </h6>
            <a href="#" class="btn btn-sm btn-purple">See more</a>
          </div>
          <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-2">
            <!-- Card 1 -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card 1</h5>
                  <p class="card-text">num of ques</p>
                  <p class="card-text">name</p>
                  <p class="card-text">Score: 80%</p>
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card 2</h5>
                  <p class="card-text">num of ques</p>
                  <p class="card-text">name</p>
                  <p class="card-text">Score: 80%</p>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card 3</h5>
                  <p class="card-text">num of ques</p>
                  <p class="card-text">name</p>
                  <p class="card-text">Score: 80%</p>
                </div>
              </div>
            </div>

            <!-- Card 4 -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card 4</h5>
                  <p class="card-text">num of ques</p>
                  <p class="card-text">name</p>
                  <p class="card-text">Score: 80%</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section my-2">
          <div
            style="
              justify-content: space-between;
              align-items: center;
              display: flex;
              padding: 20px 0 0 0;
            "
          >
            <p style="font-size: 30px">Recent Quiz</p>
            <a
              href="#"
              class="btn btn-sm"
              style="
                margin-top: 25px;
                color: #8854c0;
                background-color: #8854c01a;
                font-size: 16px;
                font-weight: 800;
                transition: all 0.2s;
              "
              >See All2</a
            >
          </div>
          <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-2">
            <!-- Card 1 -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card 1</h5>
                  <p class="card-text">num of ques</p>
                  <p class="card-text">name</p>
                  <p class="card-text">Score: 80%</p>
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card 2</h5>
                  <p class="card-text">num of ques</p>
                  <p class="card-text">name</p>
                  <p class="card-text">Score: 80%</p>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card 3</h5>
                  <p class="card-text">num of ques</p>
                  <p class="card-text">name</p>
                  <p class="card-text">Score: 80%</p>
                </div>
              </div>
            </div>

            <!-- Card 4 -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card 4</h5>
                  <p class="card-text">num of ques</p>
                  <p class="card-text">name</p>
                  <p class="card-text">Score: 80%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="../static/js/bootstrap.bundle.min.js"
      th:src="@{../../js/bootstrap.bundle.min.js}"
    ></script>
    <script src="../static/js/main.js" th:src="@{../../js/main.js}"></script>
    <script
      src="https://kit.fontawesome.com/b16b259998.js"
      crossorigin="anonymous"
    ></script>

    <script>
      const searchInput = document.getElementById("search-input");
      const suggestionsList = document.querySelector(".suggestions-list");

      searchInput.addEventListener("input", () => {
        // Cập nhật danh sách gợi ý dựa trên nội dung nhập của người dùng
        // ...

        suggestionsList.style.display = "block";
      });

      document.addEventListener("click", (event) => {
        if (!event.target.closest(".suggestions-list")) {
          suggestionsList.style.display = "none";
        }
      });
    </script>
  </body>
</html>
