<!DOCTYPE html>
<html lang="en-US" xmlns:th="www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ezQuiz Home Page</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/images/favicon.ico"
      th:href="@{../../images/favicon.ico}"
    />

    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="crossorigin"
    />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      />
    </noscript>
    <link
      href="../static/vendor/bootstrap/bootstrap.min.css"
      th:href="@{/vendor/bootstrap/bootstrap.min.css}"
      rel="stylesheet"
    />
    <link
      href="../static/css/main.css"
      th:href="@{/css/main.css}"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="bg-light">
      <nav
        class="navbar navbar-expand-sm p-0 navbar-light bg-white"
        id="header-nav"
        role="navigation"
      >
        <div class="container-fluid mx-2">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="link-dark navbar-brand site-title mb-0" href="./home"
              >ezQuiz</a
            >
            <div id="navSearch" class="position-relative mx-2 suggest-search">
              <input
                type="search"
                id="navSearchInput"
                class="form-control"
                placeholder="Search in Library"
              />
              <button
                id="navSearchButton"
                type="button"
                class="btn p-0 h-100 border-0 rounded-2"
              >
                <i class="fas fa-search"></i>
              </button>
              <div class="suggestions-list">
                <ul>
                  <li>Gợi ý 1</li>
                  <li>Gợi ý 2</li>
                  <li>Gợi ý 3</li>
                </ul>
              </div>
            </div>
            <ul class="navbar-nav align-items-center ms-auto">
              <li class="nav-item">
                <a
                  class="btn btn-sm bg-light mx-1 px-2 bd-left"
                  style="min-width: 111px"
                  th:href="@{/home}"
                >
                  Home&nbsp;&nbsp;<i class="fas fa-home"></i>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="btn dropdown-toggle btn-sm btn-purple px-2"
                  id="libraryDropdown"
                  role="button"
                  th:href="@{/library}"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="margin-right: 25px"
                  >Library</a
                >
                <!-- Library dropdown -->
                <div
                  id="libraryDropdown"
                  class="dropdown-menu bg-white shadow animated--grow-in p-0"
                  aria-labelledby="libraryDropdown"
                  style="min-width: 0; width: 100px; right: 25px"
                >
                  <a
                    class="dropdown-item btn btn-sm p-1"
                    th:href="@{/quiz/list}"
                  >
                    Quiz </a
                  ><a
                    class="dropdown-item btn btn-sm p-1"
                    th:href="@{/question/list}"
                  >
                    Question
                  </a>
                  <a
                    class="dropdown-item btn btn-sm p-1"
                    th:href="@{/classroom/list}"
                  >
                    Classroom
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle bg-light rounded-full rounded-circle"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="padding: 6px 12px"
                >
                  <i class="fas fa-bars"></i>
                </a>

                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" th:href="@{/profile}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" th:href="@{/admin/list}">
                    <i
                      class="fas fa-solid fa-sm fa-fw mr-2 fa-users text-gray-400"
                    ></i>
                    User Management
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" th:href="@{/logout}">
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="page-content bg-light py-1">
      <div id="top-content" class="d-none d-md-block my-2">
        <!-- Learner -->
        <div
          sec:authorize="hasRole('ROLE_LEARNER')"
          class="d-flex position-relative justify-content-center my-3"
        >
          <div id="top-left" class="col-6 border-1 rounded-2 custom-box-shadow">
            <div class="d-flex position-relative bg-light left-center p-2">
              <form action="" class="p-0">
                <input
                  id="joinCode"
                  type="text"
                  class="col-8 form-control border-0 rounded-3 custom-box-shadow"
                  style="font-weight: bolder"
                  placeholder="Enter code"
                />
              </form>
              <div class="p-0">
                <a
                  class="btn btn-sm btn-primary border-0 rounded-3 custom-box-shadow"
                  role="button"
                  style="padding: 7px 16px; margin-left: 10px"
                >
                  Join
                </a>
              </div>
            </div>
          </div>

          <div id="top-right" class="col-3" style="min-width: 299px">
            <div
              class="border-1 rounded-2 custom-box-shadow position-relative"
              style="
                margin-left: 16px;
                display: grid;
                grid-template-columns: 1fr 2fr;
              "
            >
              <div class="portada">
                <!-- Your content for the 'portada' div -->
              </div>
              <div class="p-3 rounded-2">
                <h6
                  class="m-0"
                  style="min-width: 180px"
                  th:text="${user.fullName}"
                >
                  Nguyen Minh Thanh
                </h6>
                <div>Welcome Learner!</div>
                <div class="actions">
                  <button><i class="far fa-heart"></i></button>
                  <button><i class="far fa-envelope"></i></button>
                  <button><i class="fas fa-user-friends"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Teacher -->
        <div
          sec:authorize="hasRole('ROLE_TEACHER')"
          class="d-flex position-relative justify-content-center my-3"
        >
          <div id="top-left" class="col-6 border-1 rounded-2 custom-box-shadow">
            <div class="border-0 left-center p-2">
              <h5 style="font-weight: 900">
                What are you expecting to teach today?
              </h5>
              <div class="position-relative w-100 suggest-search">
                <input
                  type="search"
                  id="topSearch"
                  class="form-control border-0 custom-box-shadow"
                  style="font-size: 18px; padding-right: 33px"
                  placeholder="Looking for many other quizzes..."
                />
                <button type="button" class="btn p-0 h-100 border-0 rounded-2">
                  <i class="fas fa-arrow-right"></i>
                </button>
                <div id="topSuggestions" class="suggestions-list">
                  <ul>
                    <li>Gợi ý 1</li>
                    <li>Gợi ý 2</li>
                    <li>Gợi ý 3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div id="top-right" class="col-3" style="min-width: 299px">
            <div
              class="border-1 rounded-2 custom-box-shadow position-relative"
              style="
                margin-left: 16px;
                display: grid;
                grid-template-columns: 1fr 2fr;
              "
            >
              <div class="portada">
                <!-- Your content for the 'portada' div -->
              </div>
              <div class="p-3 rounded-2">
                <h6
                  class="m-0"
                  style="min-width: 180px"
                  th:text="${user.fullName}"
                >
                  Nguyen Minh Thanh
                </h6>
                <div>Welcome Teacher!</div>
                <div class="actions">
                  <button><i class="far fa-heart"></i></button>
                  <button><i class="far fa-envelope"></i></button>
                  <button><i class="fas fa-user-friends"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Recent Quiz Attempts -->
      <div id="bottom-content" class="container-fluid my-3">
        <div class="section m-2 px-3 px-lg-5 pt-2">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="marker marker-center" style="font-size: 24px">
              Recent quiz
            </h6>
            <a href="#" class="btn btn-sm btn-purple">See more</a>
          </div>
          <div class="row row-cols-3 g-1 g-md-2 g-lg-4">
            <!-- Card 1 -->
            <div class="col">
              <button class="card btn w-100 p-0">
                <img
                  src="https://i.etsystatic.com/24456611/r/il/e806dd/3118599492/il_600x600.3118599492_k3mm.jpg"
                  class="card-img-top"
                  alt="Quiz Image"
                />

                <div class="card-body p-1 px-2 mb-3">
                  <div class="d-flex flex-row-reverse">
                    <div class="bg-light px-1 rounded-2 text-end item-tag">
                      quiz
                    </div>
                  </div>
                  <h5 class="card-title p-0 d-flex">Card title</h5>
                  <p class="card-text d-none d-md-flex">
                    Some quick example text.
                  </p>
                </div>
                <div class="card-footer d-flex bg-white w-100 p-0 px-3">
                  99 questions
                </div>
              </button>
            </div>

            <!-- Card 2 -->
            <div class="col">
              <button class="card btn w-100 p-0">
                <img
                  src="https://i.etsystatic.com/24456611/r/il/e806dd/3118599492/il_600x600.3118599492_k3mm.jpg"
                  class="card-img-top"
                  alt="Quiz Image"
                />

                <div class="card-body p-1 px-2 mb-3">
                  <div class="d-flex flex-row-reverse">
                    <div class="bg-light px-1 rounded-2 text-end item-tag">
                      exam
                    </div>
                  </div>
                  <h5 class="card-title p-0 d-flex">Card title</h5>
                  <p class="card-text d-none d-md-flex">
                    Some quick example text.
                  </p>
                </div>
                <div class="card-footer d-flex bg-white w-100 p-0 px-3">
                  99 questions
                </div>
              </button>
            </div>

            <!-- Card 3 -->
            <div class="col">
              <button class="card btn w-100 p-0">
                <img
                  src="https://i.etsystatic.com/24456611/r/il/e806dd/3118599492/il_600x600.3118599492_k3mm.jpg"
                  class="card-img-top"
                  alt="Quiz Image"
                />

                <div class="card-body p-1 px-2 mb-3">
                  <div class="d-flex flex-row-reverse">
                    <div class="bg-light px-1 rounded-2 item-tag">quiz</div>
                  </div>
                  <h5 class="card-title p-0 d-flex">Card title</h5>
                  <p class="card-text d-none d-md-flex">
                    Some quick example text.
                  </p>
                </div>
                <div class="card-footer d-flex bg-white w-100 p-0 px-3">
                  99 questions
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="../static/js/bootstrap.bundle.min.js"
      th:src="@{../../js/bootstrap.bundle.min.js}"
    ></script>
    <script src="../static/js/main.js" th:src="@{../../js/main.js}"></script>
    <script
      src="https://kit.fontawesome.com/b16b259998.js"
      crossorigin="anonymous"
    ></script>

    <script>
      const topSearch = document.getElementById("topSearch");
      const topSuggestions = document.getElementById("topSuggestions");
      topSearch.addEventListener("input", () => {
        // Cập nhật danh sách gợi ý dựa trên nội dung nhập của người dùng
        // ...

        topSuggestions.style.display = "block";
      });
      document.addEventListener("click", (event) => {
        if (!event.target.closest("#topSuggestions")) {
          topSuggestions.style.display = "none";
        }
      });
    </script>
  </body>
</html>
