<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ezQuiz Login Page</title>

    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="crossorigin"
    />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      />
    </noscript>

    <!-- Remove Bootstrap Icons CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.19.0/font/bootstrap-icons.css" /> -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />

    <!-- Bootstrap 5 CSS -->
    <link th:href="@{vendor/bootstrap/bootstrap.min.css}" rel="stylesheet" />

    <!-- Customize CSS -->
    <link th:href="@{css/main.css}" rel="stylesheet" />

    <!-- Include Font Awesome -->
    <script
      src="https://kit.fontawesome.com/b16b259998.js"
      crossorigin="anonymous"
    ></script>

    <!-- Include your main.js at the end -->
    <script th:src="@{/js/main.js}"></script>
  </head>

  <body id="top">
    <header class="bg-light">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light"
        id="header-nav"
        role="navigation"
        th:fragment="header-navbar"
      >
        <div class="container">
          <a class="link-dark navbar-brand site-title mb-0" href="./">ezQuiz</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-2">
              <li class="nav-item"><a class="nav-link" href="./">Home</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolio">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
            <a class="btn btn-primary" th:href="@{/logout}">SIGN OUT</a>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
