<!DOCTYPE html>
<html lang="en-US" xmlns:th="www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Library</title>
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}" />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" media="print"
    onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" />
  </noscript>
  <link rel="stylesheet" th:href="@{/vendor/bootstrap/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="stylesheet" th:href="@{/css/library.css}" />
</head>

<body>
  <header th:fragment="topHeader">
    <nav class="navbar navbar-expand-sm p-0 navbar-light bg-white" id="header-nav" role="navigation">
      <div class="container-fluid mx-2">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="link-dark navbar-brand site-title mb-0" th:href="@{/home}">ezQuiz</a>
          <div id="navSearch" class="position-relative mx-2 suggest-search" th:fragment="nav-search">
            <input type="search" id="navSearchInput" class="form-control" placeholder="Search in Library"
              autocomplete="off" th:value="${params.search}" />
            <button id="navSearchButton" type="button" class="btn p-0 h-100 border-0 rounded-2"
              onclick="searchLibraryItem()">
              <i class="fas fa-search"></i>
            </button>
            <div class="suggestions-list">
              <ul>
                <li>Gợi ý 1</li>
                <li>Gợi ý 2</li>
                <li>Gợi ý 3</li>
              </ul>
            </div>
          </div>
          <ul class="navbar-nav align-items-center ms-auto">
            <li class="nav-item">
              <a class="btn btn-sm bg-light mx-1 px-3" th:href="@{/home}">
                Home&nbsp;&nbsp;<i class="fas fa-home"></i>
              </a>
            </li>
            <li th:replace="~{home :: createButton}"></li>
            <li sec:authorize="hasRole('ROLE_LEARNER')" class="nav-item">
              <button class="btn btn-sm btn-purpleee px-2" data-bs-toggle="modal" data-bs-target="#joinClass">
                Join a Class
              </button>
              <div sec:authorize="hasRole('ROLE_LEARNER')" class="modal fade" id="joinClass" tabindex="-1"
                aria-labelledby="joinClass" aria-hidden="true">
                <form th:action="@{/classroom/join}" method="POST">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div class="modal-title h5">Join a Class</div>
                        <div style="color: #888">
                          Enter a code that teacher shared with you
                        </div>
                        <div class="my-2 mb-3">
                          <input type="text" class="form-control py-1" id="recipient-name" name="code"
                            placeholder="ABCD1234" required />
                        </div>
                        <div class="text-end">
                          <button type="button" class="btn btn-sm btn-purple px-2" data-bs-dismiss="modal"
                            aria-label="Close">
                            Cancel
                          </button>
                          <button type="submit" class="btn btn-sm btn-purpleee">
                            Continue
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li th:replace="~{home :: barButton}"></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div th:with="
        max = ${library.getTotalPages()},
        content = ${library.getObjectDtoList()},
        totalResult = ${library.getTotalElements()}
      ">
    <div class="page-content bg-light py-3 min-vh-100">
      <div class="container-fluid gap-3 gap-lg-5">
        <div th:fragment="leftNav" class="section d-none d-md-block sticky-nav col-lg-3"
          style="height: fit-content; min-width: 234px">
          <header>
            <h3>Library</h3>
          </header>
          <ul class="nav d-flex flex-column align-items-center mb-3">
            <li sec:authorize="hasRole('ROLE_TEACHER')" class="nav-link w-100 p-0 rounded-1"
              th:classappend="${path.equals('/library/my-library') ? 'active' : ''}">
              <a class="btn btn-sm d-flex" th:href="@{/library/my-library}">
                <div class="square-33-center-item rotate-on-hover">
                  <i class="fas fa-list"></i>
                </div>
                <div class="d-flex align-items-center flex-1">My Library</div>
              </a>
            </li>
            <li sec:authorize="hasRole('ROLE_TEACHER')" class="nav-link w-100 p-0 rounded-1"
              th:classappend="${path.equals('/library/my-quiz') ? 'active' : ''}">
              <a class="btn btn-sm d-flex" th:href="@{/library/my-quiz}">
                <div class="square-33-center-item rotate-on-hover">
                  <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="d-flex align-items-center flex-1">My Quiz</div>
              </a>
            </li>
            <li class="nav-link w-100 p-0 rounded-1" th:classappend="${path.equals('/library/my-classroom') ||
                path.equals('/library/joined-classrooms') ? 'active' : ''}">
              <a class="btn btn-sm d-flex" th:href="@{/library/my-classroom}">
                <div class="square-33-center-item rotate-on-hover">
                  <i class="fas fa-book"></i>
                </div>
                <div class="d-flex align-items-center flex-1">
                  <span>My Classroom</span>
                </div>
              </a>
            </li>
            <li sec:authorize="hasRole('ROLE_LEARNER')" class="nav-link w-100 p-0 rounded-1"
              th:classappend="${path.equals('/library/assigned-quizzes') ? 'active' : ''}">
              <a class="btn btn-sm d-flex" th:href="@{/library/my-quiz}">
                <div class="square-33-center-item rotate-on-hover">
                  <i class="fas fa-bullseye"></i>
                </div>
                <div class="d-flex align-items-center flex-1">
                  To-do Quizzes
                </div>
              </a>
            </li>
            <li sec:authorize="hasRole('ROLE_LEARNER')" class="nav-link w-100 p-0 rounded-1"
              th:classappend="${path.equals('/library/taken-quizzes') ? 'active' : ''}">
              <a class="btn btn-sm d-flex" th:href="@{/library/my-quiz}">
                <div class="square-33-center-item rotate-on-hover">
                  <i class="fas fa-history"></i>
                </div>
                <div class="d-flex align-items-center flex-1">
                  Taken Quizzes
                </div>
              </a>
            </li>
          </ul>
          <div class="divider left-content-divider"></div>

          <div th:if="${max > 1}" class="mt-2">
            <nav aria-label="Page navigation">
              <ul class="pagination bg-light">
                <li class="page-item">
                  <button type="button" class="page-link" onclick="prevPage()" aria-label="Previous">
                    &lt;&nbsp;Prev
                  </button>
                </li>
                <li class="page-item" th:classappend="${params.page == 1 ? 'active' : ''}">
                  <a class="page-link page-index" role="button">1</a>
                </li>
                <div th:if="${max > 3}">
                  <li th:if="${params.page < 3}" class="page-item ms-0 me-3"
                    th:classappend="${params.page == 2 ? 'active' : ''}">
                    <a class="page-link page-index" role="button">2</a>
                  </li>
                  <li th:if="${params.page > 2 && params.page < max - 1}" class="page-item mx-2 active">
                    <a class="page-link page-index" role="button" th:text="${params.page}">98</a>
                  </li>
                  <li th:if="${params.page > max - 2}" class="page-item ms-3 me-0"
                    th:classappend="${params.page == max - 1 ? 'active' : ''}">
                    <a class="page-link page-index" th:text="${max - 1}" role="button">98</a>
                  </li>
                </div>
                <div th:if="${max == 3}">
                  <li class="page-item" th:classappend="${params.page == 2 ? 'active' : ''}">
                    <a class="page-link page-index" role="button">2</a>
                  </li>
                </div>
                <li class="page-item" th:classappend="${params.page == max ? 'active' : ''}">
                  <a class="page-link page-index" role="button" th:text="${max}">99</a>
                </li>
                <li class="page-item">
                  <button type="button" class="page-link" aria-label="Next" onclick="nextPage()">
                    Next&nbsp;&gt;
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- <right content> -->
        <div id="content" class="d-flex flex-column p-1">
          <div class="d-flex justify-content-between">
            <div class="ps-1" style="line-height: 2; font-size: 1.1rem; color: #6c757d" th:fragment="searchResult">
              Found
              <span th:text="${totalResult}">69</span>
              result<span th:if="${totalResult > 1}">s</span><span th:if="${content == null}">
                of "<span th:text="${params.search}">err</span>" </span>.
              <span th:if="${#strings.isEmpty(params.search)}">
                Displaying
                <span th:text="${content.size()}">-1</span>
                result<span th:if="${totalResult > 1}">s</span>:
              </span>
              <span th:if="${!params.search.isEmpty() && content != null}">
                Displaying of "<span th:text="${params.search}">err</span>"
                (<span th:text="${content.size()}">-1</span> result<span th:if="${content.size() > 1}">s</span>):
              </span>
            </div>
            <div class="d-flex gap-1" th:fragment="sort">
              <div class="navbar-nav d-flex flex-column">
                <div class="nav-item dropdown">
                  <button class="btn dropdown-toggle btn-sm bg-white p-0 px-2 d-flex align-items-center gap-1"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-sort"></span>
                    <span th:text="${params.sort()}">error</span>
                  </button>
                  <!-- Sort dropdown -->
                  <div id="sortDropdown" class="dropdown-menu bg-white shadow animated--grow-in p-0"
                    aria-labelledby="sortDropdown" style="min-width: 0; width: 123px">
                    <a class="dropdown-item btn btn-sm p-0 sort-type text-center">
                      <span class="text-capitalize">latest</span>
                    </a>
                    <a class="dropdown-item btn btn-sm p-0 sort-type text-center">
                      <span class="text-capitalize">oldest</span>
                    </a>
                    <a class="dropdown-item btn btn-sm p-0 sort-type text-center">
                      <span>A to Z</span>
                    </a>
                    <a class="dropdown-item btn btn-sm p-0 sort-type text-center">
                      <span>Z to A</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div th:fragment="showData(content)" id="data">
            <div class="d-flex flex-column gap-2">
              <div th:each="data : ${content}" th:with="url='/' + ${data.type} + '/' + ${data.id}">
                <div sec:authorize="hasRole('ROLE_TEACHER')" class="position-relative">
                  <div class="dropdown position-absolute ellipsis-toggle">
                    <button class="btn" aria-expanded="false" data-bs-toggle="dropdown" style="right: 0">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" type="button">
                          <i class="fa-regular fa-pen-to-square me-1"> </i>
                          Edit
                        </a>
                      </li>
                      <li>
                        <a type="button" class="dropdown-item" onclick="confirm('Are you sure you want to delete?')">
                          <i class="fa-solid fa-trash me-1"> </i> Delete
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <a sec:authorize="hasRole('ROLE_TEACHER')" class="btn item p-1 d-flex gap-1 rounded-1 shadow-sm"
                  th:href="@{${url}}">
                  <div style="width: 169px">
                    <img th:if="${data.imageUrl}" class="h-100 rounded-1"
                      style="border: #f4f5f6 solid 1px; max-width: 169px" th:src="${data.imageUrl}" />
                    <div th:unless="${data.imageUrl}" class="h-100 rounded-1"
                      th:style="'background-color: ' + ${params.randomBgColor()}"
                      th:classappend="${data.type == 'classroom' ? 'classroom-default' : 'default-image'}"></div>
                  </div>

                  <div class="d-flex flex-column align-items-start flex-fill gap-1 p-1 px-2">
                    <div class="d-flex" style="margin-top: 3px">
                      <div class="bg-light rounded-2 item-tag px-1" th:text="${data.type}">
                        quiz
                      </div>
                      <div th:if="${data.isDraft}" class="rounded-2 item-tag px-1" style="color: rgb(247, 95, 95)">
                        draft
                      </div>
                    </div>

                    <div th:if="${data.name == null || data.name.isEmpty()}" class="my-0 h5 opa-25">
                      Untitled Quiz
                    </div>
                    <div th:unless="${data.name == null || data.name.isEmpty()}" class="my-0 h5" th:text="${data.name}">
                      Quiz Name
                    </div>

                    <p class="text-small m-0 flex-fill fw-light" th:text="${data.description}">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>

                    <div class="d-flex justify-content-between align-items-center w-100">
                      <div class="d-flex flex-row align-items-center" style="
                            font-size: 12px;
                            opacity: 0.88;
                            font-weight: 100;
                          ">
                        <div class="d-flex flex-row align-items-center">
                          <i class="fas fa-list h-100" style="opacity: 0.55; margin-right: 3px"></i>
                          <span style="margin: 0 3px" th:text="${data.itemNumber}">99</span><span
                            th:if="${data.type=='quiz'}">question(s)</span>
                          <span th:if="${data.type=='classroom'}">student(s)</span>
                        </div>
                        <div class="d-flex flex-row align-items-center mx-2">
                          <i class="fas fa-history h-100" style="opacity: 0.55; margin-right: 3px"></i>
                          <span style="margin: 0 3px" th:text="${data.getTimeString()}">99</span>
                        </div>
                      </div>

                      <div>
                        <button class="btn btn-sm btn-primary m-0 py-0">
                          Assign
                          <i class="fas fa-caret-down"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </a>
                <div sec:authorize="hasRole('ROLE_LEARNER')" class="btn item p-1 d-flex gap-1 rounded-1 shadow-sm"
                  style="cursor: auto">
                  <div style="width: 169px">
                    <img th:if="${data.imageUrl}" class="h-100 rounded-1"
                      style="border: #f4f5f6 solid 1px; max-width: 169px" th:src="${data.imageUrl}" />
                    <div th:unless="${data.imageUrl}" class="h-100 rounded-1"
                      th:style="'background-color: ' + ${params.randomBgColor()}"
                      th:classappend="${data.type == 'classroom' ? 'classroom-default' : 'default-image'}"></div>
                  </div>

                  <div class="d-flex flex-column align-items-start flex-fill gap-1 p-1 px-2">
                    <div class="d-flex" style="margin-top: 3px">
                      <div th:if="${data.isDraft}" class="rounded-2 item-tag px-1" style="color: rgb(247, 95, 95)">
                        draft
                      </div>
                    </div>

                    <div th:if="${data.name == null || data.name.isEmpty()}" class="my-0 h5 opa-25">
                      Untitled Quiz
                    </div>
                    <div th:unless="${data.name == null || data.name.isEmpty()}" class="my-0 h5" th:text="${data.name}">
                      Quiz Name
                    </div>

                    <p class="text-small m-0 flex-fill fw-light" th:text="${data.description}">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>

                    <div class="d-flex justify-content-between align-items-center w-100">
                      <div class="d-flex flex-row align-items-center" style="
                            font-size: 12px;
                            opacity: 0.88;
                            font-weight: 100;
                          ">
                        <div th:if="${data.teacherName}" class="d-flex flex-row align-items-center">
                          <i class="fas fa-user h-100" style="opacity: 0.55; margin-right: 3px"></i>
                          <span th:text="${data.teacherName}">err</span>
                        </div>
                        <div class="d-flex flex-row align-items-center" th:if="${data.type=='quiz'}">
                          <i class="fas fa-list h-100" style="opacity: 0.55; margin-right: 3px"></i>
                          <span style="margin: 0 3px" th:text="${data.itemNumber}">99</span><span>question(s)</span>
                        </div>
                        <div class="d-flex flex-row align-items-center mx-2">
                          <i class="fas fa-history h-100" style="opacity: 0.55; margin-right: 3px"></i>
                          <span style="margin: 0 3px" th:text="${data.getTimeString()}">99</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://kit.fontawesome.com/b16b259998.js" crossorigin="anonymous"></script>

  <script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>

  <script th:inline="javascript" th:fragment="js-pagination">
    /*<![CDATA[*/
    const path = /*[[${path}]]*/ "";
    const params = {
      search: /*[[${params.search}]]*/ "",
      sort: /*[[${params.sort}]]*/ "",
      page: /*[[${params.page}]]*/ 1,
      size: /*[[${params.size}]]*/ 1,

      getUrl: function () {
        const params = Object.keys(this)
          .filter(
            (key) => typeof this[key] !== "function" && this[key] !== ""
          )
          .map((key) => `${key}=${this[key]}`);
        console.log(params);
        const paramStr = params.join("&");
        return `${path}?${paramStr}`;
      },
    };

    $(document).ready(function () {
      $(".sort-type").each(function () {
        $(this).on("click", function () {
          params.sort = $(this).find("span").text().split(" ").join("");
          params.page = 1;
          location.href = params.getUrl();
        });
      });

      $(".page-index").each(function () {
        if (params.page <= 9) {
          $(this).css("padding", "5px 13px");
        } else if (params.page > 9) {
          $(this).css("padding", "5px 8px");
        }
        $(this).on("click", function () {
          params.page = $(this).text();
          location.href = params.getUrl();
        });
      });

      $("#navSearchInput").on("keydown", function (event) {
        if (event.keyCode === 13) {
          searchLibraryItem();
        }
      });
    });

    function prevPage() {
      params.page = params.page - 1;
      location.href = params.getUrl();
    }

    function nextPage() {
      params.page = params.page + 1;
      location.href = params.getUrl();
    }

    function searchLibraryItem() {
      params.page = 1;
      params.search = $("#navSearchInput").val();
      location.href = params.getUrl();
    }
    /*]]>*/
  </script>
</body>

</html>