<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ezQuiz Login Page</title>

    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="crossorigin"
    />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      />
    </noscript>

    <!-- Remove Bootstrap Icons CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.19.0/font/bootstrap-icons.css" /> -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/images/favicon.ico"
      th:href="@{/images/favicon.ico}"
    />

    <!-- Bootstrap 5 CSS -->
    <link
      href="vendor/bootstrap/bootstrap.min.css"
      th:href="@{vendor/bootstrap/bootstrap.min.css}"
      rel="stylesheet"
    />

    <!-- Customize CSS -->
    <link href="css/main.css" th:href="@{css/main.css}" rel="stylesheet" />

    <!-- Include Font Awesome -->
    <script
      src="https://kit.fontawesome.com/b16b259998.js"
      crossorigin="anonymous"
    ></script>

    <!-- Include your main.js at the end -->
    <script src="js/main.js" th:src="@{/js/main.js}"></script>

    <style>
      .login-right {
        background: radial-gradient(
          circle at 3.1% 8.2%,
          rgb(248, 250, 107) 0%,
          rgb(238, 148, 148) 98.2%
        );
      }

      form i {
        margin-left: -30px;
        cursor: pointer;
      }

      .divider {
        font-size: 15px;
        display: flex;
        align-items: center;
      }

      .divider::before,
      .divider::after {
        flex: 1;
        content: "";
        padding: 0.1px;
        background-color: #9b9898;
        margin: 5px;
      }
    </style>
  </head>

  <body id="top">
    <header>
      <nav
        class="navbar navbar-expand-lg"
        id="header-nav"
        role="navigation"
        th:fragment="header-navbar"
      >
        <div class="container">
          <a class="link-dark navbar-brand site-title mb-0" href="./">ezQuiz</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-2">
              <li class="nav-item"><a class="nav-link" href="./">Home</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
            <a class="btn btn-primary" href="" th:href="@{/register}"
              >SIGN UP</a
            >
          </div>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="section px-8" id="login">
        <div class="container-narrow">
          <div class="row">
            <div
              class="col-md-8 bg-light rounded-start"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="text-center mt-2">
                <h2 class="marker marker-center">SIGN IN</h2>
              </div>
              <div class="px-4 py-2">
                <form th:action="@{/login}" method="post" role="form">
                  <div class="form-group my-2">
                    <label for="username" class="form-label fw-bolder"
                      >Email</label
                    >
                    <div class="input-custom email-input">
                      <span><i class="fas fa-envelope"></i></span>
                      <input
                        class="form-control"
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Email@example"
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group my-2">
                    <label for="password" class="form-label fw-bolder"
                      >Password
                    </label>
                    <div class="input-custom password-input">
                      <span>
                        <i class="fas fa-lock"></i>
                      </span>
                      <input
                        class="form-control"
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Password"
                        required
                      />
                      <span
                        class="btn-show-pass"
                        onclick="togglePasswordVisibility('password')"
                      >
                        <i
                          id="password-toggle-icon"
                          class="fas fa-eye"
                          aria-hidden="true"
                        ></i>
                      </span>
                    </div>
                  </div>
                  <div class="row my-1">
                    <div class="col-6 text-left px-3">
                      <button class="btn btn-primary" type="submit">
                        SIGN IN
                      </button>
                    </div>
                    <div class="col-6 text-center mt-1">
                      <a
                        class="nav-link px-0 pt-1"
                        th:href="@{/forgot-password}"
                      >
                        Forgot Password
                      </a>
                    </div>
                  </div>
                  <div class="row my-2 px-2">
                    <a
                      class="btn btn-secondary mt-3 px-0"
                      th:href="@{oauth2/authorization/google}"
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-google"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"
                        />
                      </svg>
                      <div class="px-2">Continue with Google</div>
                    </a>
                  </div>
                  <div class="divider">or</div>
                  <div class="row mx-1">
                    <p>
                      Don't have an account yet?
                      <a class="mx-1" th:href="@{/register}">
                        <strong>Register</strong>
                      </a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="col-md-4 rounded-end login-right"
              data-aos="fade-left"
              data-aos-delay="300"
            >
              <div class="my-5 px-2">
                <div class="h5">Let’s talk how we can help you!</div>
                <p>
                  If you like to work with us then drop us a message using the
                  contact form.
                </p>
                <p>Or get in touch using email, skype or contact number.</p>
                <p>See you!</p>
                <h6>From group 3 with love!</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
